{% if offers.object_list %}
<div class="pagination" style="width:100%">
    <span class="step-links">
        {% if offers.has_previous %}
        <a onclick="paginate(this{% if by_cat %},true {% endif %});" href="javascript://" rel="?page={{ offers.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Pagina {{ offers.number }} de {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a onclick="paginate(this{% if by_cat %},true {% endif %});" href="javascript://" rel="?page={{ offers.next_page_number }}">></a>
        {% endif %}
    </span>
</div>

<ul class="offers_list horz clearfix">
	{% for offer in offers.object_list %}
	<li class="box_gradient1 main">
		<div class="top_links clearfix">
            
			<ul class="horz tl_l"><li><a rel="{{ offer.id }}" class="add_to_favorites" onclick="favorites(this);" href="javascript://">Agregar a favoritos</a></li></ul>

			<div class="share_actions tl_r">
				<ul class="horz"><li class="font11px">Compartir en</li><li><a class="facebook_share" href="#">Facebook</a></li><li><a  href="#" class="twitter_share">Twitter</a></li></ul>
			</div>
		</div><!-- End top_links -->

		<a target="_blank" href="{{ offer.url }}"><img height="120" width="120" src="{{ MEDIA_URL }}{{ offer.imagen }}" /></a>

		<div class="offer_info">
			<a href="{{ offer.url }}" target="_blank">{{ offer.titulo|truncatewords:5 }} </a>
			<span class="price">${{ offer.precio }} </span>
		</div>

	</li>					
	{% endfor %}
</ul>
<div class="pagination" style="width:100%">
    <span class="step-links">
        {% if offers.has_previous %}
        <a onclick="paginate(this{% if by_cat %},true {% endif %});" href="javascript://" rel="?page={{ offers.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Pagina {{ offers.number }} de {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a onclick="paginate(this{% if by_cat %},true {% endif %});" href="javascript://" rel="?page={{ offers.next_page_number }}">></a>
        {% endif %}
    </span>
</div>
{% else %}
<p style="padding-top: 10px;text-align: center;font-weight: bold;font-size: 15px;">No hay resultados...</p>
{% endif %}