{% extends 'base.html' %}
{% load offers_extras %}

{% block content %}
	
	<div class="page_content clearfix">

					<div class="left">

						<div class="box box_sep">
							
							
							<div class="oferta_del_dia expanded">
								<h5><span class="offer_arrow"></span>Oferta de {{ tienda }}</h5>

								<div class="oferta_del_dia_cont">

									<div class="oferta_left">

										<div class="slider_ofertas">
											<img src="{{MEDIA_URL}}{{ main_offer.imagen }}" width="287" />
											<h4 class="stats"><span>{{ prealertados }}</span> persona{{ prealertados|pluralize }} ha{{ prealertados|pluralize:"n" }} prealertado</h4>
											<h4 class="stats"><span>{{ favoritas }}</span> persona{{ favoritas|pluralize }} ha{{ favoritas|pluralize:"n" }} agregado a favoritas</h4>
											<h4 style="color: rgb(65, 108, 167); font-size: 15px; margin: 15px 0pt 5px;">Dile a un amigo:</h4>
											<span st_title="Oferta en Cittybox" st_url="http://cittybox.com/{% url show_offer main_offer.tienda.nombre|slugify,main_offer.id %}" class='st_twitter_vcount' ></span>
											<span st_title="Oferta en Cittybox" st_url="http://cittybox.com/{% url show_offer main_offer.tienda.nombre|slugify,main_offer.id %}" class='st_facebook_vcount' ></span>
										</div>

										<div id="slider_pager"></div>

									</div>

									<div class="oferta_right">
										<h2><a class="shop_colorbox" href="{% url shop_offer main_offer.id %}">{{ main_offer.titulo }}</a></h2>
										
										<span class="price">${{ main_offer.precio }}</span> 
										{% if main_offer.precio_anterior %}
											<span class="old_price">{{ main_offer.precio_anterior }}</span>
										{% endif %}
										<p>{{ main_offer.descripcion }}</p>
										{% if en_envio %}
											<a title="Usted ya ha prealertado esta oferta" href="{% url userena_profile_detail request.user %}" class="btn set1 tooltip_plugin">En envio</a>
										{% else %}
											<p><a href="{% url shop_offer main_offer.id %}" class="btn set2 shop_colorbox">Comprar</a></p>
										{% endif %}
									</div>

								</div><!-- END oferta_del_dia_cont-->


							</div>



						</div>


						<div class="box">
							<h2>Ofertas en {{ tienda }}</h2>
							<div class="table_header clearfix">
								<div class="th_l">
									<form>
										<label class="inlined">Filtrar por: </label>
										<select class="tiny_select" id="categorias_select" onchange="filtrar_categoria(this);">
										<option value="n">Seleccione una categoria</option>
										{% for categoria in categorias %}
											<option value="{{categoria.id}}">{{ categoria.nombre }}</option>
										{% endfor %}	
										<option value="todas">Todas las ofertas</option>
										</select>
									</form>
								</div>
								<div class="th_r">
									
										<input id="search" type="text" class="text" onblur="$(this).val('Buscar ofertas...');$(this).width('150')" onfocus="change_size(this);" value="Buscar ofertas..." />
									
								</div>
							</div>

							<div id="offers_list">
								{% offers_list tienda %}
							</div>
							
						</div>
					</div><!-- END left -->

					{% include 'shared/sidebar.html' %}

					
		</div>
					
					<script type="text/javascript">
						
						function filtrar_categoria(elem){
							id = $(elem).val();
							if( id == "todas" ){
								document.location = "{% url offers %}"
							}
							if( id != "n" ){
								$('#offers_list').load('/filtrar_categoria/'+id+"?page=1", function() {
								  $(this).prepend("<h3>Ofertas en categoria '"+$(elem).find("option:selected").text()+"'</h3>");
								});
							}
						}

						function paginate(elem, by_cat){
							page = $(elem).attr("rel");
							if( by_cat ){
								id = $("#categorias_select").val();
								$('#offers_list').load('/filtrar_categoria/'+id+page, function() {
									console.log($("#categorias_select"));
								  $('#offers_list').prepend("<h3>Ofertas en categoria '"+$("#categorias_select").find("option:selected").text()+"'</h3>");
								});
							}else{
								$('#offers_list').load('/offers_list'+page, function() {
									  
								});
							}
							return true;
						}

						function search(elem){
							input = $(elem);
							
							var words = input.val().split(' ');
						    var newwords = new Array();
						    for(i=0, x=words.length; i<x; i++){
						     newwords.push(words[i]+'+');
						    }
						    query_string = newwords.join('');

							$('#offers_list').load('/search?q='+query_string, function(data) {
								$('#offers_list').html(data);
							});
							return true;
						}

						function change_size(elem){
							$(elem).val('');
							$(elem).animate({
						    	width: 233,
						    }, 300, function() {});
						}

						function favorites(elem){
							$(elem).toggleClass("active");
							offer_id = $(elem).attr('rel');
							$.ajax({
								url: "/add_to_favorites/"+offer_id,
								method: "GET",
								success: function(data){
									if(data=="OK")
										console.log("Agregado a favoritos");
								}
							})
						}

						
						
					</script>
{% endblock %}

{% block javascript_extra %}
$("#search").keypress(function(e){
code= (e.keyCode ? e.keyCode : e.which);
if (code == 13) search(this);

}); 
{% endblock %}