{% extends 'base.html' %}
{% load offers_extras %}
{% block content %}

<div class="page_content clearfix">

                    <div class="left">

                        <div class="main_title">
                            <h1>Tiendas Cittybox</h1>
                            <p>En Cittybox categorizamos las mejores tiendas a nivel mundial para facilitar tu busqueda:</p>
                        </div>

                        <div class="shop_container clearfix">

                            <div class="shop_left">

                                <ul class="shops_list">
                                {% for cat in categories %}
                                   <li><a rel="cat{{cat.id}}" href="javascript://" {% if forloop.first %}class="current"{% endif %}>{{cat.nombre}}</a></li>
                                {% endfor %}
                                </ul>

                            </div><!-- END shop_left -->

                            <div class="shop_right box_gradient1">
                                
                                {% for cat in categories %}
                               
                                <div id="cat{{cat.id}}" {% if not forloop.first %}style="display:none"{% endif %}>
                                    <div class="pagination">
                                        <a href="">1</a>
                                        <a href="">2</a>
                                    </div>

                                    <ul class="shop_list horz clearfix">
                                    	{% stores_list cat %}
                                    </ul>

                                    <div class="pagination">
                                        <a href="">1</a>
                                        <a href="">2</a>
                                    </div>
                                </div>
                                {% endfor %}

                            </div><!-- END shop_right -->

                        </div><!-- END shop_container -->

                        {% offers_carrousel %}

                    </div>

                    {% include 'shared/sidebar.html' %}
</div>

{% endblock %}

{% block javascript_extra %}
$('.shops_list a').click(function(){
                    if( !$(this).hasClass('current') ){
                        $('.shops_list a').removeClass('current');
                        $(this).addClass('current');
                        div_id = $(this).attr('rel');
                        $(".shop_right > div").hide();
                        $("#"+div_id).fadeIn();
                    }
                })
{% endblock %}