
{% include 'emails/email_header.html' %}
<tr>
    <td style="border:1px solid #348AA3;border-bottom: none;" bgcolor="#FFFFFF">

        <table cellpadding="15">
            <tr>
                <td>
                    <a href="http://cittybox.com"><img border="0" src="http://localhost:8000{{ MEDIA_URL }}img/emails/logo.jpg" alt="Cittybox" /></a>
                </td>
                <td>
                    <h1 style="font-size: 16px;color: #378DA7;margin: 0 0 5px 0;font-family: georgia;">Notificati&oacute;n de prealerta</h1>
                    <h2 style="font-size: 13px;color: #666666;margin: 0 0 5px 0;">Al parecer {{ user.first_name }} ha prealertado un paquete en Cittybox:</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="font-size: 12px;color: #666666;margin: 0 0 5px 0;">
                        No. de guia: <b style="font-size:17px">{{ envio.guia }}</b>
                        <br /><br />
                       
                        <table cellpadding="0" cellspacing="0" border="0" style="width:100%;border: 1px solid #EBEBEB;">
                        <tr style='background:#F7F7F7;'>
                            <th style="padding:10px;border: 1px solid #EBEBEB;">Producto</th>
                            <th style="padding:10px;border: 1px solid #EBEBEB;">Precio</th>
                        </tr>
                        {% for producto in envio.productos.all %}
                            <tr {% cycle "" "style='background:#F7F7F7;'"%}>
                                <td style="padding:10px;border: 1px solid #EBEBEB;"><a href="http://localhost:8000{% url userena_profile_detail user %}" style="color:#1F638D;">{{ producto.nombre }} </a></td> 
                                <td style="padding:10px;border: 1px solid #EBEBEB;">{{ producto.valor }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <br />
                        <a href="http://localhost:8000/admin/shippings/envio/{{ envio.id }}" style="display: block; font-size: 17px; width: 127px; text-align: center; padding: 7px; background: none repeat scroll 0% 0% rgb(31, 99, 141); color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; margin: auto;"> Ir al envio </a><br />
                    </div>
                    <div style="font-size: 12px;color: #666666;margin: 0 0 5px 0;">
                        Gracias por ser parte de Cittybox!
                        <br/><br/>
                        <b>Cordialmente,<br/>
                        Cittybox Team</b>
                    </div>
                </td>
            </tr>
        </table>



    </td>

    </tr>

{% include 'emails/email_footer.html' %}