</table>
                        <table cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td>
                                    <img src="http://localhost:8000{{ MEDIA_URL }}img/emails/bottom.jpg" alt="" />
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td>
                                    <a style="font-size: 11px;color: #FFF" href=""><img style="vertical-align: middle;margin-right: 5px;" src="http://localhost:8000{{ MEDIA_URL }}img/emails/fb.jpg" />Encuentranos en Facebook</a>
                                    <a style="font-size: 11px;color: #FFF" href=""><img style="vertical-align: middle;margin-right: 5px;" src="http://localhost:8000{{ MEDIA_URL }}img/emails/tw.jpg" />Siguenos en Twitter</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px;color: #FFF;text-align: center">
                                    <br/>
                                    Todos los derechos reservados &copy; 2012 Cittybox
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>



            </table>
        </div>

    </body>
</html>
