<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cittybox</title>
    </head>
    <body style="background: #61B4CB">
        <div style="background: #61B4CB;font-family: Verdana;">
            <table width="100%" style="width: 850px;" cellpadding="0" cellspacing="0" border="0">

                <tr>
                    <td align="center">
                        <table width="530" cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td align="center">
                                    <span style="color: #FFF;font-size: 11px;">Recuerda agregar a info@cittybox.com a tus contactos, Necesitas ayuda help@cittybox.com</span>
                                    <br /><br />
                                </td>
                            </tr>