
{% include 'emails/email_header.html' %}
<tr>
                                <td style="border:1px solid #348AA3;border-bottom: none;" bgcolor="#FFFFFF">

                                    <table cellpadding="15">
                                        <tr>
                                            <td>
                                                <a href="http://cittybox.com"><img src="http://localhost:8000{{ MEDIA_URL }}img/emails/logo.jpg" alt="Cittybox" /></a>
                                            </td>
                                            <td>
                                                <h1 style="font-size: 16px;color: #378DA7;margin: 0 0 5px 0;font-family: georgia;">Hola {{ user }},</h1>
                                                <h2 style="font-size: 13px;color: #666666;margin: 0 0 5px 0;">Al parecer haz prealertado un paquete en Cittybox:</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="text-align: center;font-size: 12px;color: #666666;margin: 0 0 5px 0;">
                                                    No. de guia: {{ envio.guia }}
                                                    <br /><br />
                                                    <a href=""><img src="img/emails/btn_act.png" alt="Activar" /></a>
                                                    <br /><br />
                                                    O abre este link en cualquier navegador <br /><a href="" style="color:#55ACC7 ">http://cittybox.com/accounts/marman/activate/244ee6b9a3634895cd1061d040daeae6d290861c/
                                                    </a>
                                                    <br /><br />
                                                </div>
                                                <div style="font-size: 12px;color: #666666;margin: 0 0 5px 0;">
                                                    Estas a un paso de ser parte de Cittybox que esperas!
                                                    <br/><br/>
                                                    <b>Cordialmente,<br/>
                                                    Cittybox Team</b>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>



                                </td>

                            </tr>

{% include 'emails/email_footer.html' %}