<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/tango/skin.css" />

        <script src="js/libs/modernizr-2.0.6.min.js"></script>
    </head>
    <body>

        <div class="container">
            <header>
                <div class="logo"><a href="index.html">Cittybox</a></div>

                <nav class="top_nav">
                    <ul class="horz clearfix">
                        <li><a href="register.html">Registrarme</a></li>
                        <li>
                            <div style="position: relative;">
                                <a href="#" class="login_btn">Entrar</a>
                                <div class="login_box">
                                    <h5>Ingresa a Cittybox</h5>
                                    <div class="login_box_content">
                                        <form action="locker.html">
                                            <p>
                                                <label>Correo electrónico</label>
                                                <input type="text" class="text" value="" />
                                            </p>
                                            <p>
                                                <label>Contraseña</label>
                                                <input type="password" class="text" value="" />
                                            </p>
                                            <p class="cleared">
                                                <label for="terminos"><a href="">Olvide mi contraseña</a></label>
                                            </p>
                                            <p>
                                                <input type="submit" class="btn set2" value="Ingresar" />
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>

                <nav class="main_nav">
                    <ul class="horz clearfix">
                        <li><a href="index.html"><span class="home_icn">Inicio</span></a></li>
                        <li><a href="como.html">C&oacute;mo Funciona</a></li>
                        <li><a href="cuanto.html">Cu&aacute;nto te cuesta?</a></li>
                        <li><a href="tiendas.html">Tiendas</a></li>
                        <li><a href="ofertas.html">Ofertas</a></li>
                        <li><a href="impuestos.html">Impuestos</a></li>
                    </ul>
                </nav>

            </header>
            <div id="main" role="main">

                <div class="landing_slider clearfix">

                    <div class="slider">
                        <div id="slider_pager"></div>
                        <ul class="slideshow horz">
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Tu mejor opción en compras online</h1>
                                        <p>Compra en Estados Unidos y recibe tu mercancia en menos de 5 días!!</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Las mejores ofertas online!</h1>
                                        <p>Encuentra las mejores ofertas en linea y disfruta de nuestros productos</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Recibe tu paquete en menos de 5 días</h1>
                                        <p>Cansado de esperar tanto! Realiza tu compra en Cittybox y recibe tu paquete en menos de lo que esperas.</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Tu mejor opción en compras online</h1>
                                        <p>Compra en Estados Unidos y recibe tu mercancia en menos de 5 días!!</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                        </ul>

                    </div><!-- END slider -->

                    <div class="side_landing_content">

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>
                            <a class="btn set1" href="register.html">Registrarme</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Qué es Cittybox?</h4>
                            <a class="btn set1" href="">Ver video</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>

                        </div><!-- END box -->

                    </div><!-- END side_landing_content -->


                    <div class="blue_bg_39">
                        <h2>Cittybox la mejor forma de comprar a tu alcance</h2>
                    </div>

                </div><!-- END landing_slider -->

                <div class="page_content clearfix">

                    <div class="left">
                        <div class="box_set1 box_gradient1">

                            <ul class="features_set1 clearfix">
                                <li>

                                    <h2>Puerta a puerta</h2>
                                    <img src="" alt="image" />
                                    <p>Compra en el exterior y recibe en tu casa u oficina.</p>

                                </li>
                                <li>

                                    <h2>Compramos por ti!</h2>
                                    <img src="" alt="image" />
                                    <p>Sin tarjeta de crédito? Nosotros hacemos tu compra!</p>

                                </li>
                                <li>

                                    <h2>Consolidación de mercancías</h2>
                                    <img src="" alt="image" />
                                    <p>Realiza varias compras y recibelas en un sólo paquete!</p>

                                </li>
                            </ul><!-- END features_set1 -->

                        </div><!-- END box_set1 -->

                        <div class="box_set1 box_gradient1 nopaded">
                            <h2 style="padding: 14px 10px; margin-bottom: 4px;">Ultimas Ofertas <a style="float: right; font-size: 12px;" href="">Ver todas las ofertas...</a></h2>

                            <div class="ofertas_slider clearfix">

                                <div class="ofertas_left">

                                    <div class="oferta_del_dia">
                                        <h5><span class="offer_arrow"></span>Oferta del d&iacute;a</h5>

                                        <div class="oferta_del_dia_cont">

                                            <div class="oferta_img">
                                                <a href=""><img src="img/misc/kindle.jpg" /></a>
                                            </div>

                                            <div class="oferta_info">
                                                <a href="">Kindle Fire, Full Color 7... </a>
                                                <span class="old_price">$299.00</span>
                                                <span class="price">$199.00</span>
                                            </div>

                                        </div><!-- END oferta_del_dia_cont-->


                                    </div><!-- END oferta_del_dia -->


                                </div><!-- END -->

                                <div class="ofertas_right">

                                    <div class="offer_carrousel_container clearfix">


                                        <ul class="offer_list clearfix">
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                        </ul><!-- END offer_list -->

                                    </div><!-- END offer_carrousel_container -->

                                </div>

                            </div><!-- END ofertas_slider -->

                        </div>


                    </div><!-- END left -->

                    <div class="right">

                        <div class="sidebar_box">

                            <h4>Encuentranos en...</h4>
                            <div class="sidebar_bxc nopaded">
                                <img src="img/misc/facebookbox.jpg" alt="faceb" />
                            </div>

                        </div><!-- END sidebar_box -->

                        <div class="sidebar_box">

                            <h4>Calcula tu envio</h4>
                            <div class="sidebar_bxc">
                                <p style="color: #666666;font-size: 14px;text-align: center;">Quieres saber cuanto te cuesta?</p>
                                <a href="{% url calculadora %}" class="btn set1" style="margin: auto">Calculadora</a>
                            </div>

                        </div><!-- END sidebar_box -->

                        <div class="sidebar_box">

                            <h4>Categorias Cittybox</h4>
                            <div class="sidebar_bxc nopaded">
                                <ul class="list_set1">
                                    {% for category in categories %}
                                        <li><a href="/ofertas?category={{ category.id }}">{{ category.nombre }}</a></li>
                                    {% endfor %}
                                </ul><!-- END list_set1 -->
                            </div>

                        </div><!-- END sidebar_box -->

                    </div><!-- END right -->

                </div><!-- END page_content -->

            </div>
            <footer>
                <div class="logo"><a href="">Cittybox</a></div>
                <div class="cittybox_info">2250 NW 114th Ave.COL 5242<br /> Miami, FL 33172 <br /> +1 (408) 786-5290</div>
                <div class="copy">Cittybox 2011 Todos los derechos reservados</div>

                <div class="footer_list clearfix">
                    <ul class="footer_links">
                        <li class="main_title">Acerca de Cittybox</li>
                        <li><a href="">Terminos y condiciones</a></li>
                        <li><a href="">Equipo Cittybox</a></li>
                        <li><a href="">Quienes somos</a></li>
                    </ul>

                    <ul class="footer_links"  style="margin-right: 31px;">
                        <li class="main_title">Ayuda</li>
                        <li><a href="">Que es Cittybox?</a></li>
                        <li><a href="">Como funciona?</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                    </ul>

                    <ul class="footer_links">
                        <li class="main_title">Servicios</li>
                        <li><a href="">Se ciudadano de Cittybox</a></li>
                        <li><a href="">Calculadora de envios</a></li>
                        <li><a href="">Consolidacion de mercancias</a></li>
                    </ul>
                </div>

                <div class="by">
                    <span>Cittybox un servicio por</span>
                    <div class="gbc"><a href="">::GBC:: Global Business Corporation</a></div>
                    <ul class="horz clearfix">
                        <li><a href="" class="facebook_icn">Facebook</a></li>
                        <li><a href="" class="twitter_icn">Twitter</a></li>
                        <li><a href="" class="youtube_icn">Youtube</a></li>
                    </ul>
                    <div class="mail_contact"><a href="mailto:info@cittybox.com">info@cittybox.com</a></div>
                </div>

            </footer>
        </div> <!--! end of #container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
        <script src="js/cycle.jquery.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
        <!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
        <![endif]-->

        <script type="text/javascript">
            $(document).ready(function() {
                $('.slideshow').cycle({
                    fx: 'turnLeft', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
                    timeout: 5000,
                    pager:  '#slider_pager'
                });
                $(".login_btn").click(function(){
                    $(".login_box").toggle();
                    return false;
                });
                function mycarousel_initCallback(carousel)
                {
                    // Disable autoscrolling if the user clicks the prev or next button.
                    carousel.buttonNext.bind('click', function() {
                        carousel.startAuto(0);
                    });

                    carousel.buttonPrev.bind('click', function() {
                        carousel.startAuto(0);
                    });

                    // Pause autoscrolling if the user moves with the cursor over the clip.
                    carousel.clip.hover(function() {
                        carousel.stopAuto();
                    }, function() {
                        carousel.startAuto();
                    });
                };
                
                $('.offer_list').jcarousel({
                    auto: 2,
                    wrap: 'last',
                    initCallback: mycarousel_initCallback
                });
                
            });
        </script>

    </body>
</html>
