{% load widget_tweaks %}
<div id="prealert" class="overlay_box set1">
                            
    <div class="main_icon locker">
        <h1>Prealertar Paquete</h1>
        <p>Llena el formulario y de esta forma podremos saber la información de tu compra y paquete</p>
    </div>
    <form method='POST' id="prealertar_form" action='{% url prealertar %}'>{% csrf_token %}
        {{ form.errors }}
        <p class="inlined wset1">
            <label>No. de Guia</label>
            {{ form.guia|add_class:"text" }}
        </p>

        <p class="inlined wset1">
            <label>Empresa transportadora</label>
            {{ form.transportadora|add_class:"text" }}
        </p>                                
        
        <a class="add_link" onclick="add_producto('#products_list');" href="javascript://">Agregar producto</a>
        <table id="products_list" class="productos nomargin font11px">
            <tr class="main_header box_gradient1">
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Valor unitario (Declarado)</td>
                <td></td>
            </tr>
            
            
        </table>

        <p class="cleared">
            <label>Observaciones</label>
            {{ form.observaciones|add_class:"text" }}
        </p>
        
        {{ form.estado.as_hidden }}
        
        <div style="display:none;">
            <select multiple="multiple" name="productos" id="id_productos">
                
            </select>
        </div>
       
        <input class="btn set2" type="submit" value="Prealertar" />
    </form>

</div>
<script>
    function add_producto(elem_class){
        $.ajax({
           url: "{% url new_product %}",
           success: function(data){
                $(elem_class).append(data);       
           } 
        });
        
    }

    function add_product(elem){
        link_btn = $(elem);
        inputs = link_btn.parents('tr').find('input');
        query_set = "";
        editing = false;
        inputs.each(function(index, elem){
            name = $(this).attr('name');
            value = $(this).val();
            query_set+=name+"="+value+"&";
            if( name == "product_id") editing = true;
        });

        $.ajax({
            url: "{% url new_product %}",
            type: "POST",
            data: query_set,
            success: function(data){
                new_tr = link_btn.parents('tr').replaceWith(data);
                if ( !editing ){
                    pro_id = $('#products_list input.product_id').last().val();
                    alert(pro_id);
                    $("#id_productos").append("<option selected='selected' value='"+pro_id+"'>Producto</option>")
                }
                $.fn.colorbox.resize();
            }
        });

    }

</script>