{% load widget_tweaks %}
<div id="prealert" class="overlay_box set1">
                            <!-- <div class="main_icon locker">
                                <h1>Prealertar Paquete</h1>
                                <p>Llena el formulario y de esta forma podremos saber la información de tu compra y paquete</p>
                            </div>

                            <form>

                                <p class="inlined wset1">
                                    <label>País</label>
                                    <select class="text">
                                        <option value="2;#ESTADOS UNIDOS" selected="selected">ESTADOS UNIDOS</option>
                                        <option value="3;#ESPAÑA">ESPAÑA</option>
                                    </select>
                                </p>
                                <p class="inlined wset1">
                                    <label>Tipo de envio</label>
                                    <select class="text">
                                        <option value="0" selected="selected">Seleccione..</option>
                                        <option value="1">Documento</option>
                                        <option value="2">Paquetes</option>
                                        <option value="4">Computadores Portatil</option>
                                        <option value="5">Computadores Escritorio</option>
                                        <option value="23">Partes motores disel</option>
                                        <option value="25">Lector radiofrecuencia tags</option>
                                        <option value="26">Martillos y Mazos</option>
                                        <option value="27">Reproductores de sonido</option>
                                        <option value="28">Cintas Métricas</option>
                                        <option value="29">Libros</option>
                                        <option value="30">Partes Eq. Instrumentos Medicion</option>
                                        <option value="31">Provitaminas y Vitaminas</option>
                                        <option value="32">Partes acc. automatizacion datos</option>
                                        <option value="33">Dispositivos eléctricos motores</option>
                                        <option value="34">Celulares</option>
                                        <option value="35">Máquinas aptos imprimir</option>
                                        <option value="36">Part Maq Procesamiento</option>
                                        <option value="37">Linternas de seguridad</option>
                                        <option value="38">Termómetro digital</option>
                                        <option value="39">Montura para lentes</option>
                                        <option value="40">Ipod</option>
                                        <option value="41">Radio, equipo de sonido, altoparlante</option>
                                        <option value="42">Memoria USB</option>
                                        <option value="43">Televisor</option>
                                        <option value="44">Micrófono</option>
                                        <option value="45">Instrumentos de medición</option>
                                        <option value="46">Material eléctrico</option>
                                        <option value="47">Termómetro de líquido</option>
                                        <option value="48">Videojuegos</option>
                                        <option value="49">Equipos tansmisión datos</option>
                                        <option value="50">Herramientas neumáticas</option>
                                        <option value="51">Cámara fotográfica digital</option>

                                    </select>
                                </p>


                                <p class="inlined wset1">
                                    <label>Ciudad de origen</label>
                                    <input name="name" type="text" class="text" />
                                </p>
                                <p class="inlined wset1">
                                    <label>Proveedor</label>
                                    <input name="name" type="text" class="text" />
                                </p>

                                <p class="inlined wset1">
                                    <label>Empresa transportadora</label>
                                    <select class="text">
                                        <option value="0" selected="selected">Seleccione..</option>
                                        <option value="99999">Otro</option>
                                        <option value="1">FEDEX</option>
                                        <option value="2">UPS</option>
                                        <option value="3">USPS</option>
                                        <option value="4">DHL</option>
                                    </select>
                                </p>
                                <p class="inlined wset1">
                                    <label>No. de guia</label>
                                    <input name="name" type="text" class="text" />
                                </p>

                                <p class="cleared"></p>


                                <a class="add_link" href="javascript://">Agregar producto</a>
                                <table  class="productos nomargin font11px">
                                    <tr class="main_header box_gradient1">
                                        <td>Producto</td>
                                        <td>Cantidad</td>
                                        <td>Valor unitario (Declarado)</td>
                                        <td>Valor total</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" value="Portatil Dell Inspiron" class="text" /></a></td>
                                        <td><input type="text" value="2" class="text tiny" /></td>
                                        <td><input type="text" value="$650" class="text tiny" /></td>
                                        <td>$650</td>
                                        <td><a href="javascript://" class="delete_icn">Eliminar</a></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" value="Portatil Dell Inspiron" class="text" /></a></td>
                                        <td><input type="text" value="2" class="text tiny" /></td>
                                        <td><input type="text" value="$650" class="text tiny" /></td>
                                        <td>$650</td>
                                        <td><a href="javascript://" class="delete_icn">Eliminar</a></td>
                                    </tr>

                                </table>

                                <p class="cleared">
                                    <label>Observaciones</label>
                                    <textarea class="text"></textarea>
                                </p>
                                <p>
                                    <input class="btn set2" type="submit" value="Prealertar" />
                                </p>

                            </form> -->
                            <form method='POST' action='{% url prealertar %}'>{% csrf_token %}
                                {{ form.errors }}
                                <label>No. de Guia</label>
                                {{ form.guia }}
                                <label>Empresa transportadora</label>
                                {{ form.transportadora }}
                                <label>Observaciones</label>
                                {{ form.observaciones }}
                                <div style="display:none;">
                                    {{ form.estado|attr:"value:0" }}
                                    {{ form.usuario }}
                                </div>
                                <input class="btn set2" type="submit" value="Prealertar" />
                            </form>

                        </div>