{% load offers_extras %}
<div class="right">
                        {% if user.is_authenticated %}
                        <div class="sidebar_box">

                            <h4>Mi cuenta</h4>
                            <div class="sidebar_bxc nopaded">
                                
                                <ul class="list_set1">
                                    
                                    
                                     <li class="selected"><a href="{% url userena_profile_detail user.username %}">Mi Locker</a></li>
                                        <li class="box_gradient1"><a href="#">Consultar estado paquete</a></li>
                                        <li class="box_gradient1"><a class="prealert_btn" href="{% url prealertar %}">Prealertar paquetes</a></li>
                                        <li><a href="{% url userena_profile_edit user.username %}">Configuracion de mi cuenta</a></li>
                                         <li class="box_gradient1"><a class="invite_btn cboxElement" href="javascript://">Invitar amigos</a></li>
                                   
                                    
                                </ul><!-- END list_set1 -->
                               

                            </div>

                        </div><!-- END sidebar_box -->
                        {% else %}
                        <div class="sidebar_box">

                            <h4>Encuentranos en Facebook...</h4>
                            <div class="sidebar_bxc nopaded">
                                
                               <iframe 
src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcittybox&amp;width=266&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=245556368795095" 
scrolling="no" frameborder="0" style="border:none; overflow:hidden; 
width:266px; height:258px;" allowTransparency="true"></iframe>

                            </div>

                        </div><!-- END sidebar_box -->
                        {% endif %}
                        
                        {% oferta_del_dia %}

                        <div class="sidebar_box">

                            <h4>Calcula tu envio</h4>
                            <div class="sidebar_bxc">
                                <p style="color: rgb(102, 102, 102); font-size: 14px; text-align: center;">Quieres saber cuanto te cuesta?</p>
                                <a style="margin: auto;" class="btn set1" href="">Calculadora</a>
                            </div>

                        </div><!-- END sidebar_box -->

                        {% categories_list %}

                        {% if user.is_authenticated %}
                            <div class="sidebar_box">

                            <h4>Encuentranos en Facebook...</h4>
                            <div class="sidebar_bxc nopaded">
                                
                               <iframe 
src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcittybox&amp;width=266&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=245556368795095" 
scrolling="no" frameborder="0" style="border:none; overflow:hidden; 
width:266px; height:258px;" allowTransparency="true"></iframe>

                            </div>

                        </div><!-- END sidebar_box -->
                        {% endif %}

                    </div><!-- END right -->