<style>
@font-face {
    font-family: 'AvantGardeBkBT';
    src: url('/media/css/avant_garde_book_bt-webfont.eot');
    src: url('/media/css/avant_garde_book_bt-webfont.eot?#iefix') format('embedded-opentype'),
        url('/media/css/avant_garde_book_bt-webfont.woff') format('woff'),
        url('/media/css/avant_garde_book_bt-webfont.ttf') format('truetype'),
        url('/media/css/avant_garde_book_bt-webfont.svg#AvantGardeBkBTBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

.avant_font{
    font-family: 'AvantGardeBkBT';
    font-weight: normal;
    font-style: normal;
}
ul.information{
	list-style: none outside none;
    margin: auto;
    overflow: hidden;
    width: 450px;
}
ul.information li{
	float: left;
    margin-right: 10px;
    width: 201px
}
ul.information .info_title{
	font-weight: bold;
    margin-bottom: 8px;
}
ul.information{
	
}
</style>

<div style="margin: auto; text-align: center; width: 100%; color: rgb(6, 111, 152); font-family: arial; padding-top: 20px;">
	<img src="/media/img/misc/cittybox_big.png">
	<h1 class="avant_font" style="font-weight: normal;font-size:45px">Esperanos muy pronto...</h1>

	<ul class="information">
		<li>
			<div class="info_title">Oficina principal</div>
			Barranquilla-Colombia
			Carrera 56 #80-295
			Telefono: 3023601
		</li>
		<li>
			<div class="info_title">Oficina Miami</div>
			8810 NW 24TH TER <br />
			Doral, Florida
			33172-2418
			United States<br />
			Phone: 9546626022
		</li>
	</ul>

	<img style="margin-top:0;" src="/media/img/misc/cittybox_background.jpg">
	
</div>