{% extends "base.html" %}
{% load offers_extras %}
{% block content %}
<div class="landing_slider clearfix">

                    <div class="slider">
                        <div id="slider_pager"></div>
                        <ul class="slideshow horz">
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Consigue productos con 50% menos</h1>
                                        <p>Obtén tu dirección en USA y compra directamente los productos y mercancía americana que buscas o necesitas.</p>
                                        <a class="red_btn" href="{% url userena_signup %}">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img2">
                                    <div class="text">
                                        <h1 class="avant_font">Compra en infinidad <br />de tiendas</h1>
                                        <p>Compra en catálogos y sitios americanos desde la comodidad de tu casa u oficina. </p>
                                        <a class="red_btn" href="{% url userena_signup %}">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img3">
                                    <div class="text">
                                        <h1 class="avant_font">Si tu actividad económica es el comercio</h1>
                                        <p>Cittybox es tu mejor opción. Te ofrecemos bajos costos en tus fletes de carga aérea.</p>
                                        <a class="red_btn" href="{% url userena_signup %}">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img4">
                                    <div class="text">
                                        <h1 class="avant_font">Consolida tus paquetes!</h1>
                                        <p class="big">Puedes comprar en distintas tiendas y nosotros esperamos a que llegue el &uacute;ltimo de tus paquetes, para luego reempacar y consolidar. </p>
                                        <a class="red_btn" href="{% url userena_signup %}">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img5">
                                    <div class="text">
                                        <h1 class="avant_font">Calcula el costo aproximado de tus envíos</h1>
                                        <p>Con nuestra calculadora online podrás consultar en todo momento el estado de tus envíos y fecha aproximada de entrega.</p>
                                        <a class="red_btn" href="register.html">Calcula tu envio</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img6">
                                    <div class="text">
                                        <h1 class="avant_font">En Cittybox compramos por ti!</h1>
                                        <p class="big">¿ No quieres utilizar tu tarjeta de credito ?, contáctanos, nosotros compramos por ti sin ningún tipo de restricción.</p>
                                        <a class="red_btn" href="{% url userena_signup %}">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                        </ul>

                    </div><!-- END slider -->

                    <div class="side_landing_content">

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>
                            <a class="btn set1" href="{% url userena_signup %}">Registrarme</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Qué es Cittybox?</h4>
                            <a class="btn set1" href="{% url how_it_works %}">C&oacute;mo funciona</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>

                        </div><!-- END box -->

                    </div><!-- END side_landing_content -->


                    <div class="blue_bg_39">
                        <h2>Cittybox la mejor forma de comprar a tu alcance</h2>
                    </div>

                </div><!-- END landing_slider -->

                <div class="page_content clearfix">

                    <div class="left">
                        <div class="box_set1 box_gradient1">

                            <ul class="features_set1 clearfix">
                                <li>

                                    <h2>Puerta a puerta</h2>
                                    <div class="feature_icon world"></div>
                                    <p>Compra en el exterior y recibe en tu casa u oficina.</p>
                                    <a href="{% url how_it_works %}" class="btn set1" style="margin: auto">Saber Más</a>
                                </li>
                                <li>

                                    <h2>Compramos por ti!</h2>
                                    <div class="feature_icon basket"></div>
                                    <p>Sin tarjeta de crédito? Nosotros hacemos tu compra!</p>
                                    <a href="{% url how_it_works %}" class="btn set1" style="margin: auto">Saber Más</a>
                                </li>
                                <li>

                                    <h2>Consolidación de mercancías</h2>
                                    <div class="feature_icon box"></div>
                                    <p>Realiza varias compras y recibelas en un sólo paquete!</p>
                                    <a href="{% url how_it_works %}" class="btn set1" style="margin: auto">Saber Más</a>
                                </li>
                            </ul><!-- END features_set1 -->

                        </div>

                        {% offers_carrousel %}


                    </div><!-- END left -->

                    {% include 'shared/sidebar.html' %}

                </div><!-- END page_content -->
{% endblock %}