{% extends "base.html" %}
{% block content %}
<div class="landing_slider clearfix">

                    <div class="slider">
                        <div id="slider_pager"></div>
                        <ul class="slideshow horz">
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Tu mejor opción en compras online</h1>
                                        <p>Compra en Estados Unidos y recibe tu mercancia en menos de 5 días!!</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Las mejores ofertas online!</h1>
                                        <p>Encuentra las mejores ofertas en linea y disfruta de nuestros productos</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Recibe tu paquete en menos de 5 días</h1>
                                        <p>Cansado de esperar tanto! Realiza tu compra en Cittybox y recibe tu paquete en menos de lo que esperas.</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                            <li>
                                <div class="slideshow_text img1">
                                    <div class="text">
                                        <h1 class="avant_font">Tu mejor opción en compras online</h1>
                                        <p>Compra en Estados Unidos y recibe tu mercancia en menos de 5 días!!</p>
                                        <a class="red_btn" href="register.html">Empieza a comprar</a>
                                    </div>
                                </div><!-- END slide_show_1 -->
                            </li>
                        </ul>

                    </div><!-- END slider -->

                    <div class="side_landing_content">

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>
                            <a class="btn set1" href="register.html">Registrarme</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Qué es Cittybox?</h4>
                            <a class="btn set1" href="">Ver video</a>
                        </div><!-- END box -->

                        <div class="box dashed_border">
                            <h4>Sé ciudadano de CittyBox</h4>

                        </div><!-- END box -->

                    </div><!-- END side_landing_content -->


                    <div class="blue_bg_39">
                        <h2>Cittybox la mejor forma de comprar a tu alcance</h2>
                    </div>

                </div><!-- END landing_slider -->

                <div class="page_content clearfix">

                    <div class="left">
                        <div class="box_set1 box_gradient1">

                            <ul class="features_set1 clearfix">
                                <li>

                                    <h2>Puerta a puerta</h2>
                                    <img src="" alt="image" />
                                    <p>Compra en el exterior y recibe en tu casa u oficina.</p>

                                </li>
                                <li>

                                    <h2>Compramos por ti!</h2>
                                    <img src="" alt="image" />
                                    <p>Sin tarjeta de crédito? Nosotros hacemos tu compra!</p>

                                </li>
                                <li>

                                    <h2>Consolidación de mercancías</h2>
                                    <img src="" alt="image" />
                                    <p>Realiza varias compras y recibelas en un sólo paquete!</p>

                                </li>
                            </ul><!-- END features_set1 -->

                        </div><!-- END box_set1 -->

                        <div class="box_set1 box_gradient1 nopaded">
                            <h2 style="padding: 14px 10px; margin-bottom: 4px;">Ultimas Ofertas <a style="float: right; font-size: 12px;" href="">Ver todas las ofertas...</a></h2>

                            <div class="ofertas_slider clearfix">

                                <div class="ofertas_left">

                                    <div class="oferta_del_dia">
                                        <h5><span class="offer_arrow"></span>Oferta del d&iacute;a</h5>

                                        <div class="oferta_del_dia_cont">

                                            <div class="oferta_img">
                                                <a href=""><img src="img/misc/kindle.jpg" /></a>
                                            </div>

                                            <div class="oferta_info">
                                                <a href="">Kindle Fire, Full Color 7... </a>
                                                <span class="old_price">$299.00</span>
                                                <span class="price">$199.00</span>
                                            </div>

                                        </div><!-- END oferta_del_dia_cont-->


                                    </div><!-- END oferta_del_dia -->


                                </div><!-- END -->

                                <div class="ofertas_right">

                                    <div class="offer_carrousel_container clearfix">


                                        <ul class="offer_list clearfix">
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/watch.jpg" alt="tv" />
                                                <a href="">Authentic Nixon MAYOR Watch ALL</a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/tv.jpg" alt="tv" />
                                                <a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                            <li>
                                                <img src="img/misc/laptop.jpg" alt="tv" />
                                                <a href="">Toshiba Satellite 13.3-Inch Laptop </a>
                                                <span class="price">$387.95</span>
                                            </li>
                                        </ul><!-- END offer_list -->

                                    </div><!-- END offer_carrousel_container -->

                                </div>

                            </div><!-- END ofertas_slider -->

                        </div>


                    </div><!-- END left -->

                    <div class="right">

                        <div class="sidebar_box">

                            <h4>Encuentranos en...</h4>
                            <div class="sidebar_bxc nopaded">
                                <img src="img/misc/facebookbox.jpg" alt="faceb" />
                            </div>

                        </div><!-- END sidebar_box -->

                        <div class="sidebar_box">

                            <h4>Calcula tu envio</h4>
                            <div class="sidebar_bxc">
                                <p style="color: #666666;font-size: 14px;text-align: center;">Quieres saber cuanto te cuesta?</p>
                                <a href="" class="btn set1" style="margin: auto">Calculadora</a>
                            </div>

                        </div><!-- END sidebar_box -->

                        <div class="sidebar_box">

                            <h4>Categorias Cittybox</h4>
                            <div class="sidebar_bxc nopaded">
                                <ul class="list_set1">
                                    <li><a href="#">Computadores</a></li>
                                    <li><a href="#">Hogar</a></li>
                                    <li><a href="#">Electromesticos</a></li>
                                    <li><a href="#">Juegos y Consolas</a></li>
                                    <li><a href="#">Ropa y Accesorios</a></li>
                                </ul><!-- END list_set1 -->
                            </div>

                        </div><!-- END sidebar_box -->

                    </div><!-- END right -->

                </div><!-- END page_content -->
{% endblock %}