{% extends "base.html" %}

{% block extra_scripts %}
    <script src="{{ MEDIA_URL }}js/ui/jquery.ui.core.js"></script>
    <script src="{{ MEDIA_URL }}js/ui/jquery.ui.widget.js"></script>
    <script src="{{ MEDIA_URL }}js/ui/jquery.ui.mouse.js"></script>
    <script src="{{ MEDIA_URL }}js/ui/jquery.ui.slider.js"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/themes/base/jquery.ui.all.css">
{% endblock %}


{% block javascript_extra %}
    
    
    

    scrollPane = $( ".how_slider_cont" ),scrollContent = $( ".steps_list" );
    
    //build slider
    scrollbar = $( "#slider" ).slider({
        slide: function( event, ui ) {
            if ( scrollContent.width() > scrollPane.width() ) {
                scrollContent.css( "margin-left", Math.round(
                ui.value / 100 * ( scrollPane.width() - scrollContent.width() )
            ) + "px" );
            } else {
                scrollContent.css( "margin-left", 0 );
            }
        },
        animate: true
    });
    timer = setTimeout("set_scroll()", 4000);
{% endblock %}



{% block content %}
    <div class="page_content clearfix">
        
        <div class="cittybox_mission">
                        <h1>¿Que es Cittybox?</h1>
                        <p>
                            CittyBox es una empresa de courrier filial  de la compañía <a href="http://gbcorp.co" target="_blank">GB Corp.</a> <br />
                            CittyBox se especializa en la recolección  transporte y entrega puerta – puerta de paquetes y/o documentos en cualquier parte de Colombia.<br />
                            Contamos con un centro logístico de recolección en la ciudad de Miami, Estados Unidos para despachar sus envíos o paquetes internacionales, según sus necesidades, garantizando la efectividad y el cumplimiento de su entrega.

                        </p>
                    </div>


                    <div class="block">
                        <h1>C&oacute;mo funciona ?</h1>
                    </div>

                    <div class="how_slider">

                        <div class="how_slider_cont">

                            <ul class="steps_list"  >
                                <li>
                                    <div class="step_img">
                                        <span class="steps_icns user"></span>
                                    </div>
                                    <div class="steps_text">
                                        <h4>Crea tu cuenta</h4>
                                        <p>
                                            Crea GRATIS tu cuenta Cittybox personal o empresarial.
                                        </p>
                                    </div><!-- end steps_text -->
                                </li>

                                <li class="buy">
                                    <div class="step_img">
                                        <span class="steps_icns buy"></span>
                                    </div>
                                    <div class="steps_text">
                                        <h4>Compra</h4>
                                        <p>
                                            Compra en tu tienda
                                            online favorita.
                                        </p>
                                    </div><!-- end steps_text -->
                                </li>

                                <li class="address">
                                    <div class="step_img">
                                        <span class="steps_icns address"></span>
                                    </div>
                                    <div class="steps_text">
                                        <div class="steps_left">
                                            <h4>Dirección CittyBox</h4>
                                            <p>
                                                Utiliza tu dirección Cittybox como dirección de envío o Shopping Address de la siguiente manera
                                            </p>
                                        </div>
                                        <div class="address_box">
                                            Tu Nombre / CittyBox
                                            8810 NW 24TH TER
                                            DORAL, FLORIDA 33172-2418
                                            United States
                                            Phone: 9546626021

                                        </div><!-- end address_box -->
                                    </div><!-- end steps_text -->
                                </li>

                                <li class="prealert">
                                    <div class="step_img">
                                        <span class="steps_icns prealert"></span>
                                    </div>
                                    <div class="steps_text">
                                        <h4>Prealerta tus envios</h4>
                                        <p>
                                            Notifícanos que tu paquete llegará a nuestras instalaciones. Tiempo después de hacer la compra, la tienda te enviará los números de guía, envíanoslos junto con la factura y de esta manera nos encargaremos de tus envíos desde que son 
                                            enviados de la bodega del proveedor hasta nuestra bodega.
                                        </p>
                                    </div><!-- end steps_text -->
                                </li>

                                <li class="aduana">
                                    <div class="step_img">
                                        <span class="steps_icns aduana"></span>
                                    </div>
                                    <div class="steps_text">
                                        <h4>Aduana y Nacionalización</h4>
                                        <p>
                                            Nosotros nos encargamos de realizar todos los trámites requeridos por la Aduana en Colombia.
                                        </p>
                                    </div><!-- end steps_text -->
                                </li>

                                <li class="recibe">
                                    <div class="step_img">
                                        <span class="steps_icns recibe"></span>
                                    </div>
                                    <div class="steps_text">
                                        <h4>¡Recibe!</h4>
                                        <p>
                                            Recibe tus compras en la comodidad de tu casa u oficina y paga contra entrega. 
                                        </p>
                                    </div><!-- end steps_text -->
                                </li>

                            </ul><!-- end steps_list -->


                        </div><!-- end how_slider_cont -->

                        <div class="how_slider_bar">
                            <div id="slider"></div>
                        </div><!-- end how_slider_bar -->

                    </div><!-- how_slider -->        


                    <div class="block">
                            <div class="block"><h1>Recuerda la dirección de tu locker!</h1></div>
                        

                            <div class="address_box big">

                                <div class="step_img">
                                    <span class="steps_icns address"></span>
                                </div>
                                <div class="text">
                                    Tu Nombre / CittyBox <br />
                                    8810 NW 24TH TER <br />
                                    DORAL, FLORIDA 33172-2418 <br />
                                    United States <br />
                                    Phone: 9546626021
                                </div>
                            </div>
                        </div>

                    <div class="block">
                        <h1>Beneficios</h1>
                    </div>
                    <div class="beneficios">
                        <p>
                            Conseguirás productos hasta con un 50% menos con respecto a los valores en Colombia.
                            Obtén tu dirección en USA y compra directamente los productos y mercancía americana que buscas o necesitas. 
                        </p>

                        <p>
                            Tenemos para ti los mejores tiempo de entrega ( 5 a 8 días hábiles) y las mejores tarifas ( US 2.5 / lb)
                            Si no puedes hacer compras porque necesitas un billingaddress americano o porque la tienda no despacha a direcciones comerciales o simplemente porque no te quieres utilizar tu tarjeta de credito, contáctanos, nosotros compramos por ti sin ningún tipo de restricción.
                        </p>

                        <p>Compra en infinidad de tiendas, catálogos y sitios americanos desde la comodidad de tu caca u oficina. Disfruta de los mejores precios y aprovecha los grandes descuentos.

                        </p>

                        <p>
                            CittyBox entrega en la comodidad de tu casa u oficina, por lo que no tienes que preocuparte por papeleos, aduanas, etc.
                        </p>

                        <p>Recomiendanos a tus familiares, amigos y conocidos. Gana U$ 5en flete por cada persona inscrita que transporte con nosotros.

                        </p>

                        <p>
                            Calcula el costo aproximado de tus envíos con nuestra calculadora online.
                            Ingresando a tu casillero virtual podrás consultar en todo momento el estado de tus envíos y fecha aproximada de entrega.

                        </p>

                        <p>Puedes comprar en distintas tiendas y nosotros esperamos a que llegue el ULTIMO de tus paquetes, para luego reempacar y consolidar, de manera que todas tus compras lleguen a tus manos en un solo envio. De esta menra ahorras grandes sumas de dinero en tus envios internacionales.

                        </p>

                        <p>Si tu actividad económica es el comercio, Cittybox es tu mejor opción. Te ofrecemos bajos costos en tus fletes de carga aérea.

                        </p>
                    </div>
    </div><!-- END page_content -->
{% endblock %}