{% extends "base.html" %}

{% block extra_scripts %}
   
{% endblock %}

{% block javascript_extra %}
    
    
{% endblock %}



{% block content %}
    <div class="page_content clearfix">
            <div class="block">
                            <h1>Impuestos</h1>
                        </div>

                        <p>CUALQUIER PRODUCTO QUE INGRESE AL PAÍS DEBE PAGAR IMPUESTOS DE ADUANA,  ARANCEL E  IVA  SOBRE EL VALOR DE LA FACTURA COMERCIAL (VALOR CIF).

                        </p>

                        <p>El Arancel es el impuesto de entrada de la mercancía al país y equivale al 10% del valor del producto, el IVA corresponde al 16% sobre la suma del valor del producto.

                        </p>

                        <p>Recuerda que no deberás preocuparte por ningún trámite aduanero y/o de importación, CittyBox los hace por ti.

                        </p>

                        <p>RECUERDA QUE ESTAS CATEGORÍAS DE PRODUCTOS TIENEN UN MANEJO PREFERENCIAL ARANCELARIO

                        </p>

                        <ul class="lista">
                            <li>
                                <div class="imagen pc"></div>
                                <div class="texto">Computadores: Arancel 0%, Iva 0%</div>
                            </li>   

                            <li> 
                                <div class="imagen libros"></div>
                                <div class="texto">Libros Científicos: Arancel 0%, Iva 0%</div>
                            </li>
                            <li> 
                                <div class="imagen paquetes"></div>
                                <div class="texto">Paquetes y mercaderías: Arancel 10%, Iva 16%</div>
                            </li>
                            <li> 
                                <div class="imagen documentos"></div>
                                <div class="texto">Documentos: Arancel 0%, Iva 0%</div>
                            </li>
                        </ul>
    </div><!-- END page_content -->
{% endblock %}