{% extends "base.html" %}

{% block extra_scripts %}
   
{% endblock %}

{% block javascript_extra %}
    
    
{% endblock %}



{% block content %}
    <div class="page_content clearfix">
             <div class="block shadow_separator">
                        <h1>Tarifas</h1>
                    

                    <p>Con el fin de brindarle mayor seguridad y confianza en todos sus envíos a través de su <b>Casillero CittyBox</b>, le informamos nuestras tarifas 
                        vigentes:

                    </p>

                    <p><b>DESDE MIAMI:</b> 2.50 USD x Libra (Mínimo 10 Libras).

                    </p>

                    <p><i>Seguro de $ 5 USD o $ 1,5 €</i>

                    </p>

                    <p><b>Consolidacion y reempaque:</b> 3% Sobre valor declarado.

                    </p>

                    <p>En el mercado de transporte Aéreo se  encuentran comúnmente artículos  grandes con peso ligero, por lo cual,  se cobrará según el espacio que ocupan en el avión, en estos casos, se usa el Peso  Volumétrico, para calcular el costo del embarque, si el peso volumétrico es mayor que el peso específico, entonces se facturará el volumétrico.

                    </p>

                </div>
                    <div class="block">
                    <h1 class="short_title"> ¿Cómo se calcula?</h1>

                    <p>
                        El cálculo se basa en la longitud, altura, y ancho de su paquete.
                    </p>

                    <div class="como_calcular">
                        <div class="box_sizes">

                        </div>
                        <div class="box_text">
                            Peso Volumétrico    =   Largo X Ancho X Altura (En Cm) / 6000 <br />
                            Peso Volumétrico    =   Largo X Ancho X Altura (En Pulgadas) / 166 <br />

                            <b> Máximo Valor Declarado Usd $2.000</b> <br /> <br />
                            <a class="btn set1" href="">Calculadora</a>
                        </div>
                    </div><!-- end como_calcular -->

                     </div>
    </div><!-- END page_content -->
{% endblock %}