{% load i18n %}
{% load widget_tweaks %}

<form action="{% url userena_password_change user.username %}" method="post" id="password_change_form">
    {% csrf_token %}
    <p class="inlined wset2">
      <label>Contraseña anterior</label>
      {{ form.old_password|add_class:"text" }}
    </p>

    <p class="inlined wset2">
      <label>Contraseña nueva</label>
      {{ form.new_password1|add_class:"text" }}
    </p>
        
    <p class="cleared wset2">
      <label>Repetir contraseña nueva</label>
      {{ form.new_password2|add_class:"text" }}
    </p>    
   
    <input class="btn set2" type="submit" value="{% trans "Change password" %}" />
</form>
