{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load shippings_extras %}

{% block title %}{{ profile.user.username }}'s {% trans "profile" %}.{% endblock %}
{% block content_title %}<h2 class="content-title">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}



{% block content %}
    
    <div class="page_content clearfix">

                    <div class="left">

                        <div class="box box_sep">
                            <div class="main_icon locker">
                                <h1>Mi Locker</h1> 
                                <p>Aqui encontraras el resumen de tus compras, envios realizados y estado de tus paquetes</p>
                            </div>

                            <div class="info_box box_gradient1">
                              <h5 class="aviso_icn">Aviso</h5>
                              <p>Recuerda al realizar tus compras colocar la dirección de tu locker en Cittybox: 
                2250 NW 114th Ave.COL 5242 Miami, FL 33172.</p>
                          </div>

                            <div class="fancy_table">
                                <div class="table_header">
                                    {% shippings_filter %}
                                </div>
                                {% shippings_list profile %}
                                

                            </div><!-- ENDS fancy_table -->

                            

                        </div>

                        <div class="box">
                            <div>
                                <h1>Ofertas favoritas</h1>
                                <p>Aqui encontraras las ofertas que agregaste a favoritos, prealerta ofertas favoritas desde aquí:</p>
                            </div>

                            <div class="fancy_table">
                                <div class="table_header">
                                    
                                </div>
                                {% ofertas_favoritas request.user %}
                            </div><!-- ENDS fancy_table -->

                        </div>



                    </div><!-- END left -->

                    
                    {% include 'shared/sidebar.html' %}

                </div>



{% endblock %}
{% block javascript_extra %}
  $(".prealert_btn").colorbox({transition:"none"});
{% endblock %}