{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content %}
<div class="page_content clearfix">

    <div class="left">


<!-- <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn set2" value="{% trans "Save changes" %}" />
</form> -->

  <div class="box box_sep">
      <div class="main_icon personal">
          <h1>Información personal</h1>
          <p>Ya eres parte de Cittybox, ahora queremos saber más de ti:</p>
      </div>

      <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
          {{ form.errors }}
          <p class="inlined wset2">
              <label>Nombre</label>
              {{ form.first_name|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Apellido</label>
              {{ form.last_name|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Fecha de nacimiento</label>
              {{ form.birth_date|add_class:"text" }}
          </p>

          <p class="inlined wset2">
              <label>Ciudad</label>
              {{ form.location|add_class:"text" }}
          </p>

          <div style="display:none">
          {{ form.language }}
          {{ form.privacy }}
            <p class="inlined wset2">
              <label>Direcci&oacute;n de tu Casa</label>
              {{ form.dircasa|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Ciudad Casa</label>
              {{ form.ciudadcasa|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Direccion Oficina</label>
              {{ form.dirofi|add_class:"text" }}
          </p>

         <p class="inlined wset2">
              <label>Ciudad Oficina</label>
              {{ form.ciudadofi|add_class:"text" }}
          </p>

          <p class="wset2 cleared">
              <label>Telefono Oficina</label>
              {{ form.telofi|add_class:"text" }}
          </p>

          </div>

          <div class="info_box box_gradient1">
              <h5 class="aviso_icn">Aviso</h5>
              <p>Esta información es vital para nosotros. Cittybox 
                  no divulgará ni dará a terceros la información que 
                  digites en tu perfil personal.</p>
          </div>
          <p class="cleared"></p>
          <input type="submit" class="btn set2" value="{% trans "Guardar" %}" />
      </form>

  </div>

  <div class="box box_sep">
      <div class="main_icon envio">
          <h1>Datos de envío</h1>
          <p>Asegurate de colocar bien los datos de envío, así no tendremos inconvenientes al momento de enviar la mercancia:</p>
      </div>

      <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
          
          <p class="inlined wset2">
              <label>Direcci&oacute;n de tu Casa</label>
              {{ form.dircasa|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Ciudad Casa</label>
              {{ form.ciudadcasa|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Direccion Oficina</label>
              {{ form.dirofi|add_class:"text" }}
          </p>

         <p class="inlined wset2">
              <label>Ciudad Oficina</label>
              {{ form.ciudadofi|add_class:"text" }}
          </p>

          <p class="wset2 cleared">
              <label>Telefono Oficina</label>
              {{ form.telofi|add_class:"text" }}
          </p>

          <div style="display:none">
          {{ form.language }}
          {{ form.privacy }}
          <p class="inlined wset2">
              <label>Nombre</label>
              {{ form.first_name|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Apellido</label>
              {{ form.last_name|add_class:"text" }}
          </p>
          <p class="inlined wset2">
              <label>Fecha de nacimiento</label>
              {{ form.birth_date|add_class:"text" }}
          </p>

          <p class="inlined wset2">
              <label>Ciudad</label>
              {{ form.location|add_class:"text" }}
          </p>
          </div>

          <div class="info_box box_gradient1">
              <h5 class="aviso_icn">Aviso</h5>
              <p>Esta información es vital para nosotros. Cittybox 
                  no divulgará ni dará a terceros la información que 
                  digites en tu perfil personal.</p>
          </div>
          <input type="submit" class="btn set2" value="{% trans "Guardar Datos de envio" %}" />
      </form>


  </div>

  <div class="box box_sep">
      <div class="main_icon cuenta">
          <h1>Datos de tu cuenta</h1>
          <p>Configura correctamente los datos de tu cuenta para que no tengas ningún problema al ingresar</p>
      </div>

      <div style="display:none" id="email_form"></div>
      <div id="password_form"></div>


  </div>


    </div><!-- END left -->
   
   {% include 'shared/sidebar.html' %}
    
{% endblock %}

{% block javascript_extra %}
$("#email_form").load("{% url userena_email_change user.username %}");
$("#password_form").load("{% url userena_password_change user.username %}");
{% endblock %}