{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load shippings_extras %}

{% block title %}{{ profile.user.username }}'s {% trans "profile" %}.{% endblock %}
{% block content_title %}<h2 class="content-title">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}



{% block content %}
    
    <div class="page_content clearfix">

                    <div class="left">

                        <div class="box box_sep">
                            <div class="main_icon locker">
                                <h1>Mi Locker</h1>
                                <p>Aqui encontraras el resumen de tus compras, envios realizados y estado de tus paquetes</p>
                            </div>

                            <div class="fancy_table">
                                <div class="table_header">
                                    <form>
                                        <label class="inlined">Filtrar por: </label>
                                        <select class="tiny_select">
                                            <option>Paquetes Recibidos</option>
                                            <option>Paquetes Prealertados</option>
                                        </select>
                                    </form>
                                </div>

                                <table>
                                    <tbody><tr class="main_header box_gradient1">
                                        <td>No. Pedido</td>
                                        <td width="200">Producto</td>
                                        <td>Categoria</td>
                                        <td>Pais origen</td>
                                        <td>Estado</td>
                                    </tr>
                                    {% shippings_list user %}
                                    
                                    
                                </tbody></table>

                            </div><!-- ENDS fancy_table -->

                            <div class="pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </div>

                        </div>

                        <div class="box">
                            <div>
                                <h1>Ofertas favoritas</h1>
                                <p>Aqui encontraras las ofertas que agregaste a favoritos, prealerta ofertas favoritas desde aquí:</p>
                            </div>

                            <div class="fancy_table">
                                <div class="table_header">
                                    <form>
                                        <label class="inlined">Filtrar por: </label>
                                        <select class="tiny_select">
                                            <option>Paquetes Recibidos</option>
                                            <option>Paquetes Prealertados</option>
                                        </select>
                                    </form>
                                </div>
                                <table>
                                    <tbody><tr class="main_header box_gradient1">
                                        <td>No. Pedido</td>
                                        <td>Producto</td>
                                        <td>Categoria</td>
                                        <td>Pais origen</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><a href="">120-12014515</a></td>
                                        <td>Kindle Fire, Full Color 7... </td>
                                        <td>Tecnologia</td>
                                        <td>Estados Unidos</td>
                                        <td><a href="#">Prealertar</a></td>
                                    </tr>
                                    <tr class="odd">
                                        <td><a href="">120-12014515</a></td>
                                        <td>Kindle Fire, Full Color 7... </td>
                                        <td>Tecnologia</td>
                                        <td>Estados Unidos</td>
                                        <td><a href="#">Prealertar</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="">120-12014515</a></td>
                                        <td>Kindle Fire, Full Color 7... </td>
                                        <td>Tecnologia</td>
                                        <td>Estados Unidos</td>
                                        <td><a href="#">Prealertar</a></td>
                                    </tr>
                                    <tr class="odd">
                                        <td><a href="">120-12014515</a></td>
                                        <td>Kindle Fire, Full Color 7... </td>
                                        <td>Tecnologia</td>
                                        <td>Estados Unidos</td>
                                        <td><a href="#">Prealertar</a></td>
                                    </tr>
                                </tbody></table>

                            </div><!-- ENDS fancy_table -->

                        </div>



                    </div><!-- END left -->

                    
                    {% include 'shared/sidebar.html' %}

                </div>



{% endblock %}
{% block javascript_extra %}
  $(".prealert_btn").colorbox({transition:"none"});
{% endblock %}