{% load widget_tweaks %}
{% load i18n %}

			<form id="signin_form" action="{% url userena_signin %}" method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<p class="inlined wset1">
					<label>Tu Nombre de usuario</label>
					{{ form.identification|add_class:"text" }}
				</p>
				
				<p class="inlined wset1">
					<label>Tu contraseña</label>
					{{ form.password|add_class:"text" }}
				</p>
				
				<p>
					<input type="submit" value="Ingresar" class="btn set2">
				</p>
			</form>

		