{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Estas a un paso de ser parte de Cittybox!" %}{% endblock %}


{% block content %}

<div class="page_content clearfix">

	<div class="left">

		<div class="box">
			
            <h1>{% trans "Gracias por registrarte a Cittybox!" %}</h1>
            <p>Estas a un paso de ser un ciudadano m&aacute;s:</p>
	       
			
			<div class="info_box box_gradient1 font14px">
				<h5 class="aviso_icn">Revisa tu correo</h5>
                {% if userena_activation_required %}
				<p>{% blocktrans %}Hemos enviado un correo electr&oacute;nico para que actives tu cuenta{% endblocktrans %}. {% blocktrans %}Te esperaremos un m&aacute;ximo de <b>{{ userena_activation_days }}</b> d&iacute;as para que actives tu cuenta. {% endblocktrans %}</p>
				{% else  %}
				<p>{% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %}</p>
				{% endif %}

            </div>
			

		</div>

		
		<div class="box_set1 box_gradient1 nopaded">
			<h2 style="padding: 14px 10px; margin-bottom: 4px;">Ultimas Ofertas <a href="" style="float: right; font-size: 12px;">Ver todas las ofertas...</a></h2>

			<div class="ofertas_slider clearfix">

				<div class="ofertas_left">

					<div class="oferta_del_dia">
						<h5><span class="offer_arrow"></span>Oferta del día</h5>

						<div class="oferta_del_dia_cont">

							<div class="oferta_img">
								<a href=""><img src="img/misc/kindle.jpg"></a>
							</div>

							<div class="oferta_info">
								<a href="">Kindle Fire, Full Color 7... </a>
								<span class="old_price">$299.00</span>
								<span class="price">$199.00</span>
							</div>

						</div><!-- END oferta_del_dia_cont-->


					</div><!-- END oferta_del_dia -->


				</div><!-- END -->

				<div class="ofertas_right">

					<div class="offer_carrousel_container clearfix">


						<div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul class="offer_list clearfix jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -1304px; width: 2043px;">
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="1">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="2">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="3">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="4">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="5">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="6">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="7">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="8">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-9 jcarousel-item-9-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="9">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-10 jcarousel-item-10-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="10">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-11 jcarousel-item-11-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="11">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-12 jcarousel-item-12-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="12">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
						</ul></div><div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div><!-- END offer_list -->

					</div><!-- END offer_carrousel_container -->

				</div>

			</div><!-- END ofertas_slider -->

		</div>


	</div><!-- END left -->

	<div class="right">

		<div class="oferta_del_dia box_gradient1">
			<h5><span class="offer_arrow"></span>Oferta del día</h5>

			<div class="oferta_del_dia_cont">

				<div class="oferta_img">
					<a href=""><img src="img/misc/kindle.jpg"></a>
				</div>

				<div class="oferta_info">
					<a href="">Kindle Fire, Full Color 7... </a>
					<span class="old_price">$299.00</span>
					<span class="price">$199.00</span>
				</div>

			</div><!-- END oferta_del_dia_cont-->


		</div><!-- END oferta_del_dia -->

		<div class="sidebar_box">

			<h4>Encuentranos en...</h4>
			<div class="sidebar_bxc nopaded">
				<img alt="faceb" src="img/misc/facebookbox.jpg">
			</div>

		</div><!-- END sidebar_box -->

		<div class="sidebar_box">

			<h4>Calcula tu envio</h4>
			<div class="sidebar_bxc">
				<p style="color: #666666;font-size: 14px;text-align: center;">Quieres saber cuanto te cuesta?</p>
				<a style="margin: auto" class="btn set1" href="">Calculadora</a>
			</div>

		</div><!-- END sidebar_box -->

		<div class="sidebar_box">

			<h4>Categorias Cittybox</h4>
			<div class="sidebar_bxc nopaded">
				<ul class="list_set1">
					<li><a href="#">Computadores</a></li>
					<li><a href="#">Hogar</a></li>
					<li><a href="#">Electromesticos</a></li>
					<li><a href="#">Juegos y Consolas</a></li>
					<li><a href="#">Ropa y Accesorios</a></li>
				</ul><!-- END list_set1 -->
			</div>

		</div><!-- END sidebar_box -->

	</div><!-- END right -->

</div>

{% endblock %}