{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load offers_extras %}
{% block title %}{% trans "Estas a un paso de ser parte de Cittybox!" %}{% endblock %}


{% block content %}

<div class="page_content clearfix">

	<div class="left">

		<div class="box">
			
            <h1>{% trans "Gracias por registrarte a Cittybox!" %}</h1>
            <p>Estas a un paso de ser un ciudadano m&aacute;s:</p>
	       
			
			<div class="info_box box_gradient1 font14px">
				<h5 class="aviso_icn">Revisa tu correo</h5>
                {% if userena_activation_required %}
				<p>{% blocktrans %}Hemos enviado un correo electr&oacute;nico para que actives tu cuenta{% endblocktrans %}. {% blocktrans %}Te esperaremos un m&aacute;ximo de <b>{{ userena_activation_days }}</b> d&iacute;as para que actives tu cuenta. {% endblocktrans %}</p>
				{% else  %}
				<p>{% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %}</p>
				{% endif %}

            </div>
			

		</div>


		{% offers_carrousel %}

	</div><!-- END left -->

	{% include 'shared/sidebar.html' %}

</div>

{% endblock %}