{% extends 'userena/base_userena.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="page_content clearfix">

	<div class="left">

		<div class="box box_sep">
			<h1>Sé parte de Cittybox</h1>
			<p>Conviertete en ciudadano de CittyBox y compra lo que siempre has querido:</p>
			
			<form action="{% url userena_signup %}" method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<p class="inlined wset1">
					<label>Tu Nombre de usuario</label>
					{{ form.username|add_class:"text" }}
				</p>
				<p class="inlined wset1">
					<label>Tu Email</label>
					{{ form.email|add_class:"text" }}
				</p>
				
				<p class="inlined wset1">
					<label>Tu Contraseña</label>
					{{ form.password1|add_class:"text" }}
				</p>
				<p class="inlined wset1">
					<label>Repite tu contraseña</label>
					{{ form.password2|add_class:"text" }}
				</p>

				<p class="cleared">
					<input type="checkbox" class="inlined" id="terminos" name="terminos">
					<label for="terminos">Acepto los <a href="">terminos y condiciones</a></label>
				</p>
				<p>
					<input type="submit" value="Registrar" class="btn set2">
				</p>
			</form>

		</div>

		<div class="box">
			<h1 class="video_icn">Qué es Cittybox?</h1>

			<div class="video_layout">
				<div class="vl_left">
					<img src="img/misc/video.jpg">
				</div>
				<div class="vl_right">

					<ul class="video_explain">
						<li class="box_gradient1">
							<span class="sec_num">1</span>
							<span class="vid_text"><a href="">Busca el producto que quieres en las tiendas</a></span>
						</li>
						<li class="box_gradient1">
							<span class="sec_num">2</span>
							<span class="vid_text"><a href="">Coloca nuestra dirección en la información de la compra</a></span>
						</li>
						<li class="box_gradient1">
							<span class="sec_num">3</span>
							<span class="vid_text"><a href="">Notifica tu pedido y recibe tu producto en casa en menos de 5 días!</a></span>
						</li>
					</ul>

				</div>
			</div>

		</div>

		<div class="box_set1 box_gradient1 nopaded">
			<h2 style="padding: 14px 10px; margin-bottom: 4px;">Ultimas Ofertas <a href="" style="float: right; font-size: 12px;">Ver todas las ofertas...</a></h2>

			<div class="ofertas_slider clearfix">

				<div class="ofertas_left">

					<div class="oferta_del_dia">
						<h5><span class="offer_arrow"></span>Oferta del día</h5>

						<div class="oferta_del_dia_cont">

							<div class="oferta_img">
								<a href=""><img src="img/misc/kindle.jpg"></a>
							</div>

							<div class="oferta_info">
								<a href="">Kindle Fire, Full Color 7... </a>
								<span class="old_price">$299.00</span>
								<span class="price">$199.00</span>
							</div>

						</div><!-- END oferta_del_dia_cont-->


					</div><!-- END oferta_del_dia -->


				</div><!-- END -->

				<div class="ofertas_right">

					<div class="offer_carrousel_container clearfix">


						<div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul class="offer_list clearfix jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -1304px; width: 2043px;">
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="1">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="2">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="3">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="4">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="5">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="6">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="7">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="8">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-9 jcarousel-item-9-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="9">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-10 jcarousel-item-10-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="10">
								<img alt="tv" src="img/misc/watch.jpg">
								<a href="">Authentic Nixon MAYOR Watch ALL</a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-11 jcarousel-item-11-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="11">
								<img alt="tv" src="img/misc/tv.jpg">
								<a href="">VIZIO E320VA 32-Inch Class LCD HDTV... </a>
								<span class="price">$387.95</span>
							</li>
							<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-12 jcarousel-item-12-horizontal" style="float: left; list-style: none outside none;" jcarouselindex="12">
								<img alt="tv" src="img/misc/laptop.jpg">
								<a href="">Toshiba Satellite 13.3-Inch Laptop </a>
								<span class="price">$387.95</span>
							</li>
						</ul></div><div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div><!-- END offer_list -->

					</div><!-- END offer_carrousel_container -->

				</div>

			</div><!-- END ofertas_slider -->

		</div>


	</div><!-- END left -->

	<div class="right">

		<div class="oferta_del_dia box_gradient1">
			<h5><span class="offer_arrow"></span>Oferta del día</h5>

			<div class="oferta_del_dia_cont">

				<div class="oferta_img">
					<a href=""><img src="img/misc/kindle.jpg"></a>
				</div>

				<div class="oferta_info">
					<a href="">Kindle Fire, Full Color 7... </a>
					<span class="old_price">$299.00</span>
					<span class="price">$199.00</span>
				</div>

			</div><!-- END oferta_del_dia_cont-->


		</div><!-- END oferta_del_dia -->

		<div class="sidebar_box">

			<h4>Encuentranos en...</h4>
			<div class="sidebar_bxc nopaded">
				<img alt="faceb" src="img/misc/facebookbox.jpg">
			</div>

		</div><!-- END sidebar_box -->

		<div class="sidebar_box">

			<h4>Calcula tu envio</h4>
			<div class="sidebar_bxc">
				<p style="color: #666666;font-size: 14px;text-align: center;">Quieres saber cuanto te cuesta?</p>
				<a style="margin: auto" class="btn set1" href="">Calculadora</a>
			</div>

		</div><!-- END sidebar_box -->

		<div class="sidebar_box">

			<h4>Categorias Cittybox</h4>
			<div class="sidebar_bxc nopaded">
				<ul class="list_set1">
					<li><a href="#">Computadores</a></li>
					<li><a href="#">Hogar</a></li>
					<li><a href="#">Electromesticos</a></li>
					<li><a href="#">Juegos y Consolas</a></li>
					<li><a href="#">Ropa y Accesorios</a></li>
				</ul><!-- END list_set1 -->
			</div>

		</div><!-- END sidebar_box -->

	</div><!-- END right -->

</div>

{% endblock %}